<div class="pokemon-list">
  <div *ngIf="!isLoading; else loadingBlock ">
    <h1>Список покемонов</h1>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Описание</th>
        <th>Высота</th>
        <th>Вес</th>
        <th>Здоровье</th>
        <th>Атака</th>
        <th>Защита</th>
        <th>Уровень</th>
        <th>Выносливось</th>
        <th>Происхождение</th>
        <th>Способность</th>
        <th>Теги</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pokemon of pokemons">
        <td>{{pokemon.id}}</td>
        <td>{{pokemon.name}}</td>
        <td>{{pokemon.description}}</td>
        <td>{{pokemon.height}}</td>
        <td>{{pokemon.weight}}</td>
        <td>{{pokemon.hp}}</td>
        <td>{{pokemon.attack}}</td>
        <td>{{pokemon.defend}}</td>
        <td>{{pokemon.level}}</td>
        <td>{{pokemon.stamina}}</td>
        <td>{{pokemon.spd}}</td>
        <td>{{pokemon.abilities}}</td>
        <td>{{pokemon.tags}}</td>
      </tr>
      </tbody>
    </table>
    <button routerLink="new">Создать</button>
  </div>
</div>

<ng-template #loadingBlock>
  <p>Загрузка...</p>
</ng-template>
